{% extends 'base.html' %}
{% from 'macros.html' import heroes %}

{% block title %}
ENDGAME
{% endblock %}


{% block body %}
<div class="contain blurred-box">
    <h2 class="text-light start-text"><span style="font-size: 0.6em !important">ФИНАЛЬНОЕ ИСПЫТАНИЕ ИГРЫ</span> <span>ЛУКОМОРЬЕ 2077</span></h2>
    <hr>
    <div class="contain blurred-box" style="font-size: 1.6em !important">
        <p class="text-light">У лукоморья дуб зелёный;</p>
        <p class="text-light">Златая цепь на дубе том:</p>
        <p class="text-light">И днём и ночью кот учёный</p>
        <p class="text-light">Всё ходит по цепи кругом;</p>
        <p class="text-light">Идёт направо — песнь заводит,</p>
        <p class="text-light">Налево — сказку говорит.</p>
        <p class="text-light">Там чудеса: там леший бродит,</p>
        <p class="text-light">Русалка на ветвях сидит;</p>
        <p class="text-success">Там на неведомых дорожках</p>
        <p class="text-light">Следы невиданных зверей;</p>
        <p class="text-light">Избушка там на курьих ножках</p>
        <p class="text-light">Стоит без окон, без дверей;</p>
        <p class="text-light">Там лес и дол видений полны;</p>
        <p class="text-light">Там о заре прихлынут волны</p>
        <p class="text-light">На брег песчаный и пустой,</p>
        <p class="text-success">И тридцать витязей прекрасных</p>
        <p class="text-light">Чредой из вод выходят ясных,</p>
        <p class="text-light">И с ними дядька их морской;</p>
        <p class="text-light">Там королевич мимоходом</p>
        <p class="text-light">Пленяет грозного царя;</p>
        <p class="text-light">Там в облаках перед народом</p>
        <p class="text-light">Через леса, через моря</p>
        <p class="text-light">Колдун несёт богатыря;</p>
        <p class="text-warning">В темнице там царевна тужит,</p>
        <p class="text-light">А бурый волк ей верно служит;</p>
        <p class="text-light">Там ступа с Бабою Ягой</p>
        <p class="text-light">Идёт, бредёт сама собой,</p>
        <p class="text-light">Там царь Кащей над златом чахнет;</p>
        <p class="text-danger">Там русский дух… там Русью пахнет!</p>
        <p class="text-light">И там я был, и мёд я пил;</p>
        <p class="text-light">У моря видел дуб зелёный;</p>
        <p class="text-light">Под ним сидел, и кот учёный</p>
        <p class="text-light">Свои мне сказки говорил.</p>
    </div>
</div>

{% endblock %}
